<div class="conteiner">
  <img [src]="airpodsDetails.img" alt="" />
  <div>
    <h3 class="title">
      {{ airpodsDetails.title }} {{ airpodsDetails.params.manufacture }}
    </h3>
    <div class="review">
      <img
        src="https://cdn-icons-png.flaticon.com/512/218/218745.png"
        class="stars"
      />
      <p class="review-descriptions">в наявності</p>
    </div>
    <div class="informations-purchase">
      <h3>Всього:</h3>
      <div class="purchase">
        <div class="price">
          {{ airpodsDetails.params.price[0] }}
        </div>
        <a href="" class="purchase-button_1">Купити</a>
        <a href="" class="purchase-button_2">Купити в один клік</a>
      </div>
    </div>
  </div>
  <div class="delivery">
    <h5>Способи доставки</h5>
    <ul>
      <li>
        <p class="delivery-title">Самовивіз з магазину</p>
        <p class="delivery-free">безкоштовно</p>
      </li>

      <hr />
      <li>
        <p class="delivery-title">Кур'єрська доставка по Львову</p>
        <p class="delivery-free">безкоштовно</p>
      </li>
      <hr />
      <li>
        <p class="delivery-title">Відділення Нової Пошти</p>
        <p class="delivery-price">від 50 грн.</p>
      </li>
      <hr />
      <li>
        <p class="delivery-title">Кур'єрська доставка Нова Пошта</p>
        <p class="delivery-price">від 50 грн.</p>
      </li>
    </ul>
  </div>
</div>
